body {
    font-family: 'Open Sans', sans-serif;
    background-color: #dee0e0;
}

.navbar {
    background-color: #161616;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    color: #fff;
    font-weight: bold;
}

#apresentacao {
    background-color: #161616;
    padding: 60px 0;
}

#apresentacao h2 {
    font-size: 32px;
    color: #fff;
}

#apresentacao p {
    font-size: 18px;
    color: #fff;
}

#imagens {
    background-color: #2c2c2c;
    padding: 60px 0;
}

#imagens h2 {
    font-size: 32px;
    color: #333;
}

.carousel-inner {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

#solucao {
    background-color: #161616;
    padding: 60px 0;
}

#solucao h2 {
    font-size: 32px;
    color: #333;
}

#solucao p {
    font-size: 18px;
    color: #fff;
}

#mercado {
    background-color: #2c2c2c;
    padding: 60px 0;
}

#ImagemMercado {
    padding: 20px 0px 20px 200px;
}

#mercado h2 {
    font-size: 32px;
    color: #fff;
}

#mercado p {
    font-size: 18px;
    color: #fff;
}

#Riscos {
    background-color: #2c2c2c;
    padding: 60px 0;
}

#Riscos h2 {
    font-size: 32px;
    color: #fff;
}

#Riscos p {
    font-size: 18px;
    color: #fff;
}

#receita {
    background-color: #2c2c2c;
    padding: 60px 0;
    color: #fff;
}

#receita h2 {
    font-size: 32px;
    color: #fff;
}

#receita p {
    font-size: 18px;
    color: #fff;
}

#videos {
    background-color: #161616;
    padding: 60px 0;
}

#videos h2 {
    font-size: 32px;
    color: #fff;
}

#grupo {
    background-color: #2c2c2c;
    padding: 60px 0;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    color: #666;
}

#grupo h2 {
    font-size: 32px;
    color: #333;
}

#grupo p {
    font-size: 18px;
    color: #666;
}

#contato {
    background-color: #2c2c2c;
    padding: 60px 0;
}

#contato h2 {
    font-size: 32px;
    color: #fff;
}

#contato p {
    font-size: 18px;
    color: #fff;
}

footer {
    background-color: #161616;
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
}